// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

.navbar { background-color: #e85f99 !important }
.main-sidebar { background-color: #790c5a !important }
* {
    font-family: 'Source Sans Pro';
}  
body::-webkit-scrollbar {
width: 0.4em;
}

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #790c5a;
outline: 1px solid slategrey;
}

.sidebar::-webkit-scrollbar {
width: 0.3em;
}

.sidebar::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
background-color: #e85f99;

outline: 1px solid slategrey;
}

.btn-primary {
    background-color: #007bff;
}

.router-link-exact-active{
	background-color: #e85f99;
	color: #fff !important;
}